$siteBackground: #0F1219;
$siteColor: white;
$primary: #13C6B3;
$primary-rgba: rgba(19,198,179, 0.2);
$primary-hover: #0d796c;

$desktopBreakPoint: 800px;

@mixin underlineBar() {
	&::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: 5px;
		width: 100%;
		height: 3px;
		border-radius: 20px;
		background: $primary
	}
}

@mixin iconButton() {
	font-size: 1.3rem;
	padding: 10px;
	z-index: 1;
	display: flex;
	align-items: center;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', arial;
	background: $siteBackground;
	color: $siteColor;
}

* {
	box-sizing: border-box
}

a {
	display: inline-block;
	color: $siteColor;
	text-decoration: none
}

ul {
	padding: 0;
	margin: 0;
	list-style: none
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0
}

.container {
	max-width: 1170px;
	margin: auto;
	padding: 0 15px
}

.banner {
	padding: 200px 0;
	background: url("/imgs/banner-background.jpg") center no-repeat;
	background-size: cover;
	filter: blur(5px);
	box-shadow: inset 0 -180px 40px rgba(0, 0, 0, 0.7)
}

.logo {
	display: flex;
	align-items: center;

	img {
		width: 30px;

		@media (min-width: $desktopBreakPoint) {
			width: 40px;
		}
	}

	a {
		display: flex;
		align-items: center;
		gap: 10px;
		font-weight: 900;
		color: $primary;
		font-size: 1.0rem;
		margin: 0;
		transition: color 0.2s;

		@media (min-width: $desktopBreakPoint) {
			font-size: 1.5rem;
		}

		&:hover {
			color: $siteColor
		}
	}
}

.navbar {
	padding: 15px 0;
	border-bottom: 1px solid #2b2b2b;

	&-container {
		display: flex;
		justify-content: space-between;
	}

	&-links {
		flex-shrink: 0;
		text-align: center
	}
}


.navbar,
.filter-nav {
	position: relative;

	.navbar-link {
		font-size: 1.0rem;
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		font-weight: normal;
		position: relative;

		@media (min-width: $desktopBreakPoint) {
			font-size: 1.2rem;
		}

		.active {
			color: $primary;
			@include underlineBar()
		}

		a {
			transition: color 0.2s;

			&:hover {
				color: $primary
			}
		}
	}
}

.filter-nav {
	text-align: center;
	padding: 25px 0
}

.spinner {
	&-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40vh;
	}

	&-loading {
		width: 50px;
		height: 50px;
		border: 10px solid $primary;
		border-top: 10px solid #383636;
		border-radius: 50%;

		animation: spinner 1s linear infinite;
	}
}

.message {
	text-align: center;
	margin-top: 6rem
}

.page-title {
	display: table;
	margin: 30px auto;
	padding: 5px 0;
	position: relative;
	@include underlineBar()
}

.card {
	position: relative;
	background: $siteBackground;
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 2px 5px $primary_rgba;
	margin: auto;
	max-width: 500px;

	@media (min-width: $desktopBreakPoint) {
		max-width: 570px
	}

	&-controls {
		text-align: center;
		margin: 30px 0;

		button {
			cursor: pointer;
			margin: 5px;
			background: $primary;
			color: $siteColor;
			border: none;
			font-size: 0.8rem;
			font-weight: bold;
			padding: 7px 20px;
			border-radius: 5px;
			transition: background 0.2s;

			&:disabled {
				cursor: default;
				background: grey;
				opacity: 0.5;

				&:hover {
					background: grey
				}
			}

			&:hover {
				background: $primary-hover
			}
		}
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
		padding: 0 15px 100px;

		li {
			width: 100%;

			@media (min-width: $desktopBreakPoint) {
				width: auto;
			}
		}
	}

	&-wrapper {
		padding-top: 50%;

		@media (min-width: $desktopBreakPoint) {
			padding-top: 0;
			padding-left: 300px
		}
	}

	&-media-type {
		position: absolute;
		top: 10px;
		right: 10px;
		color: $siteColor;
		z-index: 2;
		background: $primary;
		border-radius: 20px;
		padding: 3px 7px;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7)
	}

	&-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&-placeholder {
			background-image: linear-gradient(to right, $primary 0, $siteBackground 100%);
			height: 100%;

			&::before {
				content: '';
				background: url('/imgs/film-roll.png') left center no-repeat;
				background-size: auto 100%;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	img {
		width: 100%;
		position: absolute;
		top: -130px;
		left: calc(50% - 1px);
		transform: translate(-50%, 0)
	}

	&-title {
		font-size: 1.4rem;
		margin-top: 0;
		height: 55px;
	}

	&-description {
		font-size: 0.9rem;
		height: 120px;
	}

	&-info {
		display: flex;
		place-content: center;
		z-index: 1;
		position: relative;
		padding: 60px 30px;
		background: url('/imgs/card-blur-top.png') center no-repeat;
		background-size: 100% 135%;

		@media (min-width: $desktopBreakPoint) {
			padding: 50px 30px 30px;
			background-image: url('/imgs/card-blur-left.png');
			background-size: 134% 101%
		}

		&-controls {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 40px
		}

		p {
			line-height: 150%
		}
	}
}

.detail {
	h1,
	&-genres ul,
	.vote {
		text-align: center;
		justify-content: center;
	}

	.favourite-button {
		left: initial;
		right: 10px
	}

	&-wrapper {
		position: relative;
		padding: 0 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (min-width: $desktopBreakPoint) {
			flex-wrap: nowrap
		}
	}

	&-info {
		@media (min-width: $desktopBreakPoint) {
			max-width: 60%;
			padding-right: 50px
		}

		& > div {
			margin-top: 40px
		}

		&-wrapper {
			@media (min-width: $desktopBreakPoint) {
				display: flex;
				justify-content: space-between;
				gap: 15px
			}
		}
	}

	&-poster {
		max-width: 600px;
		padding: 60px;
		position: relative;
		display: inline-block;

		&-content {
			@media (min-width: $desktopBreakPoint) {
				order: 1
			}
		}

		&-bg {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			filter: blur(20px);
			border-radius: 5px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			box-shadow: 0 0 20px $siteBackground
		}
	}

	img {
		border-radius: 5px;
		width: 100%;
		position: relative;
		box-shadow: 0 0 10px rgb(0, 0, 0, 0.7)
	}

	&-genres {
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 8px
		}

		li {
			background: $primary;
			color: $siteBackground;
			font-weight: 500;
			padding: 5px 8px;
			border-radius: 3px
		}
	}

	&-title {
		padding: 40px 0;

		h1 {
			width: 100%;
			display: inline-block;
			margin: 0;
			font-weight: 900
		}
	}

	&-overview {
		line-height: 150%
	}
}

.vote {
	color: $primary;
	text-align: center;
	display: block;

	strong {
		font-size: 1.3rem;
		display: block
	}
}

.button {
	cursor: pointer;
	color: $siteColor;
	background-color: $primary;
	text-align: center;
	padding: 11px 20px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 20px;
	font-size: 0.9rem;
	border: none;
	transition: background 0.2s;

	&:hover {
		background-color: $primary-hover
	}
}

.back-button {
	@include iconButton();
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 8px 10px;
}

.favourite-button {
	@include iconButton();
	position: absolute;
	top: 10px;
	left: 10px;

	i {
		line-height: 17px
	}
}

.badge {
	color: $siteColor;
	font-size: 13.5px;
	background: $primary;
	padding: 3px 5px;
	border-radius: 20px;
	line-height: 100%;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);
	font-weight: bold;

	&-container {
		padding-right: 30px
	}
}

.navbar-form {
	display: flex;
	margin-top: 20px;
	padding: 20px 0;
	justify-content: center;
}

.searchform {
	max-width: 400px;
	display: table;
	width: 100%;

	&-button {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		cursor: pointer;
		font-size: 1rem;
		background: $primary;
		color: $siteColor;
		padding: 9px 10px;
		border-radius: 20px;
		border: none;
		transition: background 0.2s;

		&:hover {
			background: $primary-hover
		}
	}

	&-field {
		width: 100%;
		border: 1px solid $primary;
		border-radius: 3px;
		outline: none;
		font-size: 1rem;
		padding: 9px 40px 9px 10px;
		border-radius: 20px
	}

	&-content {
		position: relative;
	}
}

.fadeIn {
	animation: 0.5s ease-in alternate fadeIn;
}